/* overall */
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-image: url(./img/background.jpeg);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}


/* background color */
.bg-grey {
  background-color: rgba(255, 255, 255, 0.122);
}

/* section */
.title {
  margin: 10px 50px 30px;
  padding-top: 50px;
  font-size: 35px;
  font-weight: bolder;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.detail {
  margin: 0 50px;
  padding: 20px;
  border: 3px solid #F26522;
  color: #fff;
  line-height: 35px;
  font-size: 20px;
  text-align: justify;
}

/* button */
.btn {
  padding: 7px;
  border-radius: 7px;
  background-color: #f2642276;
  color: #fff;
  font-size: 15px;
}

.btn:hover {
  background-color: #F26522;

}

@media only screen and (max-width: 1190px) {

  /* section */
  .title {
    font-size: 20px;
  }

  .detail {
    font-size: 15px;
  }
}